body {
  margin: 0;
  font-family: Arial;
  background: radial-gradient(#2a0000, #000);
  color: white;
  overflow-x: hidden;
}

.scene {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hidden { display: none; }

.text {
  font-size: 26px;
  margin-bottom: 20px;
}

button {
  padding: 10px 18px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

/* POLAROID */
.polaroid {
  background: white;
  padding: 10px 10px 25px;
  border-radius: 10px;
  animation: float 3s infinite ease-in-out;
}

.polaroid img {
  width: 280px;
  object-fit: contain;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

/* CASSETTE */
.cassette {
  width: 200px;
  height: 120px;
  background: #222;
  border-radius: 10px;
  box-shadow: 0 0 20px red;
  cursor: pointer;
}

/* LETTER */
.letterBox {
  display: flex;
  gap: 20px;
  align-items: center;
}

.side {
  width: 140px;
}

.small {
  font-size: 12px;
  opacity: 0.8;
}

.letter {
  max-width: 400px;
  font-size: 16px;
  line-height: 1.6;
}